/* Light Theme Colors */
$background-colour: #F3F3F3;
$main-colour: #2F90FC;
$primary-colour: #3632FF;
$medium-gray: #31303780;
$light-gray: #3130374D;
$black: #1D1D1D;


/* Dark Theme Colors */
$background-colour-dark-theme: #313037;
$header-colour-dark-theme: #46454B;
$light-gray-dark-theme: #d8d7d7;
$white: #FFF