@use 'colors' as *;
@use 'themes' as *;

// /* Light Theme Colors */
// $background-colour: #F3F3F3;
// $main-colour: #2F90FC;
// $primary-colour: #3632FF;
// $medium-gray: #31303780;
// $light-gray: #3130374D;
// $black: #1D1D1D;


// /* Dark Theme Colors */
// $background-colour-dark-theme: #313037;
// $header-colour-dark-theme: #46454B;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
}

.container {
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;

    @media (max-width: 1024px) {
        max-width: 1014px;
        padding: 0 15px;
    }

    &__main {
        max-width: 1120px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

/*Header
===========================*/
.navbar {
    padding: 20px 0;
    //background: #FFF;
    background: var(--primary-color);
    margin-bottom: 72px;

    &[data-theme="dark"] {
        background: $header-colour-dark-theme;
    }

    &__links {
        display: flex;
        list-style: none;
        column-gap: 50px;
    }

    &__logo-wrapper {
        max-width: 167px;
        display: inline-block;

        @media (max-width: 767px) {
            max-width: 133px;
        }
    }

    &__logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .nav-link {
        display: inline-block;
        font-size: 20px;
        line-height: 19px;
        font-weight: 600;
        //color: $black;
        color: var(--color);
        transition: all 0.3s linear;

        @media (max-width: 1024px) {
            font-size: 12px;
        }

        &:hover {
            color: $main-colour;
            transition: all 0.3s linear;
        }

        &:active {
            color: $primary-colour;
            transition: all 0.3s linear;
        }
    }

    &__toggle-btn {
        border-radius: 999px;
        background-color: var(--theme-background-color);
        border: 1px solid var(--theme-border-color);
        padding: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: 0;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
            background-color: var(--theme-background-hover-color);
            transition: all 0.3s linear;
            border: 1px solid var(--theme-border-color);
        }
    }

    &__toggle-icon {
        height: 1.75rem;
        width: 1.75rem;
        color: var(--theme-background-icon-color);
    }
}

.active {
    font-size: 23px;
    display: block;
}

/*Main page
===========================*/
.promo {
    margin-bottom: 200px;

    &__wrapper {
        //background: #FFFFFF;
        background: var(--primary-color);
        border-radius: 40px;
        padding: 131px 0 62px 110px;
        position: relative;
        box-shadow: 0px 13px 40px 3px rgba(0, 0, 0, 0.04);
    }

    &__title {
        font-weight: 600;
        font-size: 90px;
        line-height: 96px;
        //color: #1D1D1D;
        color: var(--color);
        max-width: 906px;
        position: absolute;
    }

    &__phone-wrapper {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        max-width: 366px;
        position: absolute;
        top: 600px;
    }

    &__phone-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__promo__bg {
        height: 1450px;
        background-image: url(../assets/image/promo_bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


/*Articles page
===========================*/
.article {
    margin-bottom: 72px;

    &__header {
        margin-bottom: 64px;
        display: flex;
        column-gap: 50px;
        align-items: center;
    }

    &__title {
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
        //color: $black;
        color: var(--color);
    }

    &__sort-block {
        margin-bottom: 64px;
    }

    &__sort {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 40px;
    }

    &__sort-order {
        padding: 13px;
        min-height: 60px;
        border: 1px solid var(--input-border-color);
        color: var(--color);
        background: var(--background-color);
    }

    &__sort-time {
        display: flex;
        column-gap: 15px;
    }

    &__radio-btn input[type=radio] {
        display: none;
    }

    &__radio-btn label {
        display: inline-block;
        cursor: pointer;
        min-height: 60px;
        min-width: 180px;
        text-align: center;
        padding: 13px 15px;
        line-height: 34px;
        border: 1px solid var(--input-border-color);;
        color: var(--color);
        border-radius: 6px;
        user-select: none;
        transition: all 0.3s linear;

        &:hover {
            color: $main-colour;
            border: 1px solid $main-colour;
            transition: all 0.3s linear;
        }
    }

    &__radio-btn input[type=radio]:checked+label {
        transition: all 0.3s linear;
        background: $main-colour;
        border: 1px solid $main-colour;
        color: #FFF;
    }

    &__radio-btn input[type=radio]:disabled+label {
        background: #efefef;
        color: $light-gray;
    }

    &__search-input {
        min-height: 60px;
        background: var(--background-color);
        border: 1px solid var(--input-border-color);
        color: var(--color);

        &::placeholder {
            color: var(--secondary-color);
            opacity: 1;
        }

        &:focus {
            background: var(--background-color);
            color: var(--color);
            border-color: $main-colour;
            outline: 0;
            box-shadow: 0;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 32px;
        row-gap: 40px;
        margin-bottom: 72px;
    }

    &__card {
        border-radius: 16px;
        //background: #FFF;
        background: var(--primary-color);
        transition: all 0.3s linear;

        &:hover {
            box-shadow: 0px 12px 40px 9px rgba(0, 0, 0, 0.10);
            transition: all 0.3s linear;
        }
    }

    &__image-block {
        height: 208px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
    }

    &__card-body {
        padding: 32px;
        display: grid;
        row-gap: 8px;
    }

    &__card-time {
        color: var(--secondary-color);
        //color: $medium-gray;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    &__card-title {
        color: var(--color);
        //color: $black;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        margin: 0;
    }

    &__pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__pagination-btn {
        border: none;
        display: flex;
        column-gap: 8px;
        background: none;
        color: var(--color);

        &:disabled,
        &[disabled] {
            color: var(--secondary-color);
        }
    }

    &__pagination-arrow {
        fill: var(--color);
    }

    &__pagination-select {
        border: 1px solid var(--input-border-color);
        color: var(--color);
        background: none;
        border-radius: 16px;
        padding: 4px 10px;
    }
}


/*ArticleId
===========================*/
.articleId {
    margin-bottom: 72px;

    &__btn {
        background: none;
        border: 1px solid var(--input-border-color);
        color: var(--color);
        //border: 1px solid $light-gray;
        //color: $light-gray;
        padding: 5px 10px;
        border-radius: 6px;
        font-size: 16px;
        margin-bottom: 40px;
        transition: all 0.3s linear;

        &:hover {
            color: $main-colour;
            border: 1px solid $main-colour;
            transition: all 0.3s linear;
        }
    }

    &__data {
        color: $light-gray;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 12px;
    }

    &__title{
        font-size: 56px;
        font-weight: 700;
        line-height: 80px;
        margin-bottom: 48px;
        color: var(--color);
    }

    &__image-wrapper {
        height: 518px;
        margin-bottom: 48px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }

    &__newsSite {
        color: $main-colour;
        margin-bottom: 10px;
        font-size: 22px;
    }

    &__text,
    &__newsSite {
        font-weight: 400;
        line-height: 32px;
    }

    &__text {
        font-size: 18px;
        color: var(--color);
        margin-bottom: 50px;
    }

    &__link {
        border-radius: 4px;
        background: var(--primary-color);
        padding: 16px 32px;
        display: inline-block;
    }

    &__svg {
        height: 24px;
        width: 24px;
    }
}


/*Footer
===========================*/
.footer {
    padding: 34px 0;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 0;
        left: 0;
        top: 0;
        border-bottom: 1px solid var(--secondary-color);;
        position: absolute;
        transition: all 0.3s linear;
    }

    &__copyright {
        //color: rgba(49, 48, 55, 0.50);
        color: var(--secondary-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}